<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <rosparam file="$(find turtlebot_transfer_learning)/config/actions.yaml" />
    <rosparam file="$(find turtlebot_transfer_learning)/config/dataset.yaml" />
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_bringup)/launch/3dsensor.launch" />
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" >
        <arg name="camera_name" value="/camera/rgb" />
        <arg name="image_topic" value="image_raw" />
    </include>
    <include file="$(find turtlebot_actions)/launch/server_turtlebot_move.launch" />
    <node name="primative_velocity_actions" pkg="turtlebot_transfer_learning" type="primitive_velocity_actions.py"/> -->
</launch>
